h1 {
    background-color: aqua;
    border: 1px solid black;
    width: 500px;
    margin: 50px;
    padding: 50px;
}

span {
    background-color: rgb(238, 46, 206);
    border: 1px solid black;
    width: 500px;
    margin: 50px;
    padding: 50px;
}

div {
    height: 200px;
    width: 200px;
    background-color: rgb(227, 76, 76);
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}